.step-info-container {
  background-color: #0288d1;
  padding: 25px 0;
  height: 80px;
  .step-info {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
  }
}
