.Order-info-contianer {
  .label {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
  }

  .content {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
  }

  .number-of-tickets {
    color: #0288d1;
  }
  .total-price {
    color: #0288d1;
  }

  .my-account {
    color: #00bcd4;
  }

  .print {
    font-size: 1.5rem;
  }
}
